
/***************
HEADING
***************/
.header {
	font-family: 'Open Sans', sans-serif;
	margin: 0px 0px;
	font-size: 30px;
	line-height: 5;
	text-align: inline-block;
	color: white;
	background-color: black;
	border-color: black;
	cursor: pointer;
}

.im {
	width: 10%;
	height: auto;
	margin: 10px 0 10px 10px;	
}

h1
{
background-color: LightGray;
text-align: center;
font: Serif;
font-size: 40px;
line-height: 100px;
margin: 0 0 5px 0;
}

/*************
NAVIGATION
*************/

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #173863;
	
}

li {
	float: left;
	width= 33%;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 15px 40px;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: orange;
	
}

a { cursor: pointer; }

.active {
	background-color: #4CAF50;
}
.selectedTab{
	background-color: orange;
}
	

/****************
PAGE1,PAGE2,PAGE3, PAGE4
****************/


img{
	float: none;
	width: 100%;
	height: 175px;
	margin: 20px;
	border-radius: 1px;
}


/***************
PARAGRAPH
***************/
p {
	color: black;
    text-align: justify;
	
}

/****************
Body
****************/


* {box-sizing: border-box}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;
max-width: 100%;}

.myim {
	max-width: 200%;
	margin: 0 0 0 0;
	height: 400px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 2000px;
  position: relative;
  margin: 0 0 0 0;
  padding= 0 0;
}



/* Number text (1/4 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: -10px 0;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

#my-object-about {
  min-width: 100%;
  min-height: 770px;
}

#my-object-academics {
  min-width: 100%;
  min-height: 1465px;
}

#my-object-studentLife {
  min-width: 100%;
  min-height: 380px;
}

#my-object-contact {
  min-width: 100%;
  min-height: 270px;
}
	
/* On smaller screens, decrease text size */
@media only screen and (max-width: 500px) {
  .text {font-size: 28px}
}

@media screen and (max-width: 600px) {
  element.style {
    font-size: 3vw;
  }
}
/*************
FOOTER
*************/
footer {
font-size: 20px;
text-align: center;
clear: both;
padding-top: 20px;

}
h4 {
	background-color: black;
	color: white;
}
